# Funciones

**Ejercicio 1**

Se realizó una encuesta donde las personas debían indicar su edad y remuneración por hora. Como
resultado se tiene una lista de tuplas con esos datos similar a la de abajo. Escribir una función donde
dado un segmento de edad descripto por un nivel inferior li y uno superior ls, por ejemplo 20 - 25,
devuelva la remuneración promedio para personas mayores o iguales a li y menores a ls y la cantidad
de personas usadas para calcular ese promedio. Si en la lista no existe ningún dato dentro del entorno
estudiado, devolver cero para el promedio.



```
lista = [(20 , 400) , (25 , 500) , (20 , 350) , (50 , 1000) , (60 , 1500) , (40 , 760) , (35 , 1020)]
```

In [ ]:
lista = [(20 , 400) , (25 , 500) , (20 , 350) , (50 , 1000) , (60 , 1500) , (40 , 760) , (35 , 1020)]

In [ ]:
def average(data:list=lista,lower:int=20,higher:int=25) -> tuple:
  """
  Dado un segmento de edad descripto por un nivel inferior lower
  y uno superior higher retorna la remuneración promedio para 
  elementos mayores o iguales al segmento inferior y menores al
  segmento superior y la cantidad de personas usadas para calcular el promedio. 
  Si en la lista no existe ningún dato dentro del entorno estudiado,
  devuelve cero para el promedio.

  Parameters
  ----------
  data = list
    Lista con tuplas por cada ingreso de datos. Ej: (20,400)
  
  lower = int
    Número entero que indica limite inferior del segmento. Ej: 30.
    Por default es 20.

  higher = int 
    Número entero que indica limite superior del segmento. Ej: 30.
    Por default es 25.

  Return
  ------
  result = float / int
    Promedio de la remuneración del segmento redondeado en 2 decimales.
    Ej: 375.0 , 0.-
  
  count  = int
    Cantidad de personas en la que se basó el cálculo del promedio.
    Ej: 2 
  """

  sum = 0
  count = 0
  for person in data:
    if person[0] in range(lower,higher):
      sum += person[1]
      count += 1
  if count < 1:
    result = 0
  else:
    result = round(sum/count,2)
  return result, count

Prueba sin argumentos:

In [ ]:
rem_avg, count = average() # (lista,20,25)
print(f"Para el rango de edad ingresado, la remuneración promedio es ${rem_avg} calculado entre {count} personas.")

Para el rango de edad ingresado, la remuneración promedio es $375.0 calculado entre 2 personas.

Prueba con un argumento:

In [ ]:
rem_avg, count = average(lista)
print(f"Para el rango de edad ingresado, la remuneración promedio es ${rem_avg} calculado entre {count} personas.")

Para el rango de edad ingresado, la remuneración promedio es $375.0 calculado entre 2 personas.

Prueba con 2 argumentos:

In [ ]:
rem_avg, count = average(lista,21) #range(21,25) - sin datos
print(f"Para el rango de edad ingresado, la remuneración promedio es ${rem_avg} calculado entre {count} personas.")

Para el rango de edad ingresado, la remuneración promedio es $0 calculado entre 0 personas.

In [ ]:
print(rem_avg)
print(type(rem_avg))
print(count)
print(type(count))

0
<class 'int'>
0
<class 'int'>

Prueba con 3 argumentos:

In [ ]:
rem_avg, count = average(lista,40,65)
print(f"Para el rango de edad ingresado, la remuneración promedio es ${rem_avg} calculado entre {count} personas.")

Para el rango de edad ingresado, la remuneración promedio es $1086.67 calculado entre 3 personas.

In [ ]:
print(rem_avg)
print(type(rem_avg))
print(count)
print(type(count))

1086.67
<class 'float'>
3
<class 'int'>

**Ejercicio 2**

Escribir una función que calcule la distancia entre dos puntos en el plano. Los puntos deberán ingresar a la función como tuplas. Si solo se le pasa un argumento, por defecto el otro punto debe ser el origen.

![image.png]()

In [33]:
def plane_distance(a:tuple=(0,0),b:tuple=(0,0)) -> float :
    """
    Calcula la distancia entre dos puntos en el plano. Por defecto,
    ambos puntos son el origen.  
    
    Parameters
    ----------
    a = tuple
      Punto en plano cartesiano (x,y). Ej: (-1,7)
      Por defecto: (0,0) -> origen
    
    b = tuple
      Punto en plano cartesiano (x,y). Ej: (3,4)
      Por defecto: (0,0) -> origen

    Return
    ------
    float 
      Resultado de la distancia entre los dos puntos ingresados como argumentos.
    """

    return round((((b[0]-a[0])**2) + ((b[1]-a[1])**2))**(1/2),2)

Sin argumentos:

In [34]:
plane_distance()

0.0

Con ambos argumentos:

In [35]:
distance = plane_distance((-1,7),(3,4))
distance

5.0

Con argumento posicional:

In [36]:
distance = plane_distance((8,6))
distance

10.0

Con argumento por nombre:

In [32]:
distance = plane_distance(b=(-4,1))
distance

4.12

**Ejercicio 3**

Un número es primo sí solo sí sus únicos divisores son 1 y el mismo número.

a.  Escriba una función que determine si un numero es primo o no.

b. Escriba otra función que reciba un número n e imprima todos los números primos menores que n

In [72]:
def prime_number (number:int) -> bool:
  """
  Determina si un numero natural es primo o no y devuelve un booleano
  True si es primo, de lo contrario False.

  Parameter
  --------
  number = int
    Numero entero. Ej: 5.
  
  Return
  bool
    True si es primo o False si no lo es 
  """
  
  if number < 2: #debe ser numero natural mayor a 1
    return False
  for other in range(2,number): #resto de division por cada numero menor
    if number%other == 0:
      return False
  return True

In [74]:
for number in range(0,12):
  print(f'{number} : {prime_number(number)}')

0 : False
1 : False
2 : True
3 : True
4 : False
5 : True
6 : False
7 : True
8 : False
9 : False
10 : False
11 : True

In [91]:
def minor_prime(number:int=10) -> list:
  """
  Imprime todos los numeros primos menores que el numero ingresado 
  como argumento y devuelve una lista con los mismos. En caso que no
  se encuentren numeros primos, devuelve una lista vacía.

  Parameters
  ----------
  number = int
    Numero entero para calcular primos menores. 
    Por default number = 10.
  
  Return
  ------
  prime = list
    Lista con números enteros menores que el argumento ingresado.
  """

  prime = []
  for num in range(number):
    if prime_number(num):
      prime.append(num)
  print(*prime,sep=", ")
  return prime

Llamada sin argumentos:

In [93]:
primesto10 = minor_prime()

2, 3, 5, 7

In [94]:
primesto10

[2, 3, 5, 7]

Llamada con argumentos:

In [82]:
primesto12 = minor_prime(12)

2, 3, 5, 7, 11

In [83]:
primesto12

[2, 3, 5, 7, 11]

Prueba con numeros primos menores que 2:

In [89]:
primesto2 = minor_prime(2)

In [90]:
primesto2

[]

**Ejercicio 4**

Escriba un programa que pida el ancho y altura de un rectángulo y el caracter a utilizar en el dibujo:


```
ancho = 5
alto = 3
caracter = o
o o o o o
o o o o o
o o o o o
```

In [95]:
def rectangle_paint(width:int, height:int, char:str):
  """
  Dibuja un rectangulo con el ancho, altura y caracter ingresados.

  Paramters
  ---------
  width = int
    Ancho del rectángulo. Ej: 5
  
  height = int
    Altura del rectángulo. Ej: 3
  
  char = str
    Cualquier caracter ingresado para realizar dibujo. Ej: "+"
  """
  for row in range(height):
    print(f'{(char+" ")*width}')

In [96]:
rectangle_paint(5,3,"+")

+ + + + +
+ + + + +
+ + + + +

In [160]:
def rectangle_paint(width:int, height:int, char:str) -> list:
  """
  Crea y devuelve array 2d con forma (height,width) y luego imprime 
  la figura con el caracter ingresado.

  Paramters
  ---------
  width = int
    Ancho del rectángulo. Ej: 5
  
  height = int
    Altura del rectángulo. Ej: 3
  
  char = str
    Cualquier caracter ingresado para realizar dibujo. Ej: "+"

  Return
  ------
  array2d = list
    2d array con forma (height,width). Ejemplo: (3,5)
  """
  array2d = []
  features = list(char*width)
  for row in range(height):
    array2d.append(features)
  for array in array2d:
    print(*array,sep=" ")
  return array2d

In [157]:
array2d = rectangle_paint(5,3,"+")

+ + + + +
+ + + + +
+ + + + +

In [158]:
array2d

[['+', '+', '+', '+', '+'],
 ['+', '+', '+', '+', '+'],
 ['+', '+', '+', '+', '+']]

**Ejercicio 5**

Crear una función lambda que permita conocer si un número es par.

Almacenando lambda en una variable:

In [172]:
even = lambda number: True if number%2 == 0 else False

In [177]:
for number in range(1,11):
  print(f'{number}: {even(number)}')

1: False
2: True
3: False
4: True
5: False
6: True
7: False
8: True
9: False
10: True

Utilizandola exclusivamente para categorizar los numeros del 1 al 10:

In [179]:
for number in range(1,11):
  print(f'{number}: {(lambda even:True if even%2==0 else False)(number)}')

1: False
2: True
3: False
4: True
5: False
6: True
7: False
8: True
9: False
10: True

**Ejercicio 6**

Crear una función a la cual se le pase una cantidad variable de números y devuelva la multiplicación de los pares sumado los números impares.

Ejemplo:


```
1+3*6+7*2 = 33
```

**Ejercicio 7**

Dada la siguiente función 


```
def resultado(x, y, op):
    if op == '+':
        return x + y
    elif op == '-':
        return x - y
```

Invocarla de manera convencional, con el parametro especial args y con kwargs.