# Funciones

**Ejercicio 1**

Se realizó una encuesta donde las personas debían indicar su edad y remuneración por hora. Como
resultado se tiene una lista de tuplas con esos datos similar a la de abajo. Escribir una función donde
dado un segmento de edad descripto por un nivel inferior li y uno superior ls, por ejemplo 20 - 25,
devuelva la remuneración promedio para personas mayores o iguales a li y menores a ls y la cantidad
de personas usadas para calcular ese promedio. Si en la lista no existe ningún dato dentro del entorno
estudiado, devolver cero para el promedio.



```
lista = [(20 , 400) , (25 , 500) , (20 , 350) , (50 , 1000) , (60 , 1500) , (40 , 760) , (35 , 1020)]
```

In [2]:
lista = [(20 , 400) , (25 , 500) , (20 , 350) , (50 , 1000) , (60 , 1500) , (40 , 760) , (35 , 1020)]

In [18]:
def average(data:list=lista,lower:int=20,higher:int=25) -> tuple:
  """
  Dado un segmento de edad descripto por un nivel inferior lower
  y uno superior higher retorna la remuneración promedio para 
  elementos mayores o iguales al segmento inferior y menores al
  segmento superior y la cantidad de personas usadas para calcular el promedio. 
  Si en la lista no existe ningún dato dentro del entorno estudiado,
  devuelve cero para el promedio.

  Parameters
  ----------
  data = list
    Lista con tuplas por cada ingreso de datos. Ej: (20,400)
  
  lower = int
    Número entero que indica limite inferior del segmento. Ej: 30.
    Por default es 20.

  higher = int 
    Número entero que indica limite superior del segmento. Ej: 30.
    Por default es 25.

  Return
  ------
  result = float / int
    Promedio de la remuneración del segmento redondeado en 2 decimales.
    Ej: 375.0 , 0.-
  
  count  = int
    Cantidad de personas en la que se basó el cálculo del promedio.
    Ej: 2 
  """

  sum = 0
  count = 0
  for person in data:
    if person[0] in range(lower,higher):
      sum += person[1]
      count += 1
  if count < 1:
    result = 0
  else:
    result = round(sum/count,2)
  return result, count

Prueba sin argumentos:

In [19]:
rem_avg, count = average() # (lista,20,25)
print(f"Para el rango de edad ingresado, la remuneración promedio es ${rem_avg} calculado entre {count} personas.")

Para el rango de edad ingresado, la remuneración promedio es $375.0 calculado entre 2 personas.

Prueba con un argumento:

In [ ]:
rem_avg, count = average(lista)
print(f"Para el rango de edad ingresado, la remuneración promedio es ${rem_avg} calculado entre {count} personas.")

Para el rango de edad ingresado, la remuneración promedio es $375.0 calculado entre 2 personas.

Prueba con 2 argumentos:

In [10]:
rem_avg, count = average(lista,21) #range(21,25) - sin datos
print(f"Para el rango de edad ingresado, la remuneración promedio es ${rem_avg} calculado entre {count} personas.")

Para el rango de edad ingresado, la remuneración promedio es $0 calculado entre 0 personas.

In [17]:
print(rem_avg)
print(type(rem_avg))
print(count)
print(type(count))

0
<class 'int'>
0
<class 'int'>

Prueba con 3 argumentos:

In [4]:
rem_avg, count = average(lista,40,65)
print(f"Para el rango de edad ingresado, la remuneración promedio es ${rem_avg} calculado entre {count} personas.")

Para el rango de edad ingresado, la remuneración promedio es $1086.67 calculado entre 3 personas.

In [7]:
print(rem_avg)
print(type(rem_avg))
print(count)
print(type(count))

1086.67
<class 'float'>
3
<class 'int'>

**Ejercicio 2**

Escribir una función que calcule la distancia entre dos puntos en el plano. Los puntos deberán ingresar a la función como tuplas. Si solo se le pasa un argumento, por defecto el otro punto debe ser el origen.

**Ejercicio 3**

Un número es primo sí solo sí sus únicos divisores son 1 y el mismo número.

a.  Escriba una función que determine si un numero es primo o no.

b. Escriba otra función que reciba un número n e imprima todos los números primos menores que n

In [ ]:
#funcion anidada

**Ejercicio 4**

Escriba un programa que pida el ancho y altura de un rectángulo y el caracter a utilizar en el dibujo:


```
ancho = 5
alto = 3
caracter = o
o o o o o
o o o o o
o o o o o
```

**Ejercicio 5**

Crear una función lambda que permita conocer si un número es par.

**Ejercicio 6**

Crear una función a la cual se le pase una cantidad variable de números y devuelva la multiplicación de los pares sumado los números impares.

Ejemplo:


```
1+3*6+7*2 = 33
```

**Ejercicio 7**

Dada la siguiente función 


```
def resultado(x, y, op):
    if op == '+':
        return x + y
    elif op == '-':
        return x - y
```

Invocarla de manera convencional, con el parametro especial args y con kwargs.