## Listas, tuplas y diccionarios

#### Listas

1. Escriba una función que reciba una lista de números calcule la suma acumulada de sus elementos y la devuelva. Es decir, una nueva lista donde el primer elemento es el mismo que en la lista original, el segundo elemento es la suma del primer y segundo elemento de la lista original, el tercer elemento es la suma del resultado anterior con el tercer elemento de la lista original y así sucesivamente. Por ejemplo, dada la lista [1, 2, 3], la suma acumulada debería ser [1, 3, 6].

In [ ]:
def acumulative_list_sum(numbers:list)-> list:
  """
  Crea una nueva lista donde el primer elemento es el mismo que la original,
  el segundo elemento es la suma del primer y segundo elemento de la lista 
  original y el tercer elemento es la suma del resultado anterior 
  con el tercer elemento de la lista original y así sucesivamente.

  Parameters
  ----------
  numbers = list
    Lista de números (int, float). e.g: [1,2,3]
  
  Returns
  -------
  sum_numbers = list
    Lista con la suma acumulativa. e.g: [1,3,6]
  """

  sum_numbers = []
  for number in range(len(numbers)):
    if len(sum_numbers) == 0: #primer elemento es igual que original
      number = numbers[number]
    elif len(sum_numbers) < 2 : #segundo elemento suma de 1ro + 2do original
      number = numbers[number] + numbers[number-1]
    else:
      number = sum_numbers[-1] + numbers[number] #tercer elemento suma con ant.
    sum_numbers.append(number)
  return sum_numbers

In [ ]:
my_list = [1,2,3]
sum_list = acumulative_list_sum(my_list)
print(sum_list)

[1, 3, 6]

2. Genere una lista llamada datosPersonales, mediante el uso de un bucle donde en cada iteración se pida un solo dato de los siguientes: Nombre, Apellido, Localidad, Edad, DNI, Carrera en curso (en esta última ingrese: Tecnicatura), año de inicio de la carrera. Luego, imprima por pantalla la lista con los datos completados. (Ingrese las palabras como cadenas y los números como enteros)

In [ ]:
form = ["Nombre","Apellido","Localidad","Edad","DNI","Carrera en curso","Año de inicio de carrera"]

In [ ]:
def fill_form(form:list) -> list:
  """
  Genera una secuencia de input para cada uno de los elementos del formulario
  ingresado como argumento. Si el valor ingresado es numérico, el elemento se
  almacena como número entero, de lo contario como cadena.

  Parameter
  ---------
  form = list
    Lista con campos de datos a ingresar por el usuario.
  
  Returns
  -------
  datosPersonales = list
    Lista con campos ingresados por usuario
  """
  
  datosPersonales = []
  for data in form:
    field = input(f'Por favor, ingrese su {data}: ')
    if field.isnumeric():
      field = int(field)
    datosPersonales.append(field)
  print(f'\nMuchas gracias por completar el formulario. Usted ingresó los siguientes datos:')
  for index in range(len(form)):
    print(f'{form[index]}: {datosPersonales[index]}')
  return datosPersonales

In [ ]:
datosPersonales = fill_form(form)

Por favor, ingrese su Nombre: Agustin
Por favor, ingrese su Apellido: Leperini
Por favor, ingrese su Localidad: Carcarañá
Por favor, ingrese su Edad: 30
Por favor, ingrese su DNI: 36007849
Por favor, ingrese su Carrera en curso: Tecnicatura
Por favor, ingrese su Año de inicio de carrera: 2022

Muchas gracias por completar el formulario. Usted ingresó los siguientes datos:
Nombre: Agustin
Apellido: Leperini
Localidad: Carcarañá
Edad: 30
DNI: 36007849
Carrera en curso: Tecnicatura
Año de inicio de carrera: 2022

Comprobación de almacenamiento de datos numéricos como enteros.

In [ ]:
numeric_values = list(filter(lambda x: type(x)== int,datosPersonales))
print(numeric_values)

[30, 36007849, 2022]

In [ ]:
print(type(datosPersonales[3]))#Edad
print(type(datosPersonales[4]))#DNI
print(type(datosPersonales[-1]))#Año de inicio

<class 'int'>
<class 'int'>
<class 'int'>

3. Tomando la lista del ejercicio anterior y la de sus 3 compañeros más proximos, genere una lista base de datos. Que contenga en su interior las 4 listas de datos personales. Luego, implemente un programa que imprima los datos personales de cada persona.

In [ ]:
datosPersonales1 = fill_form(form)
datosPersonales2 = fill_form(form)
datosPersonales3 = fill_form(form)
datosPersonales4 = fill_form(form)

Por favor, ingrese su Nombre: Agustin
Por favor, ingrese su Apellido: Leperini
Por favor, ingrese su Localidad: Carcarañá
Por favor, ingrese su Edad: 30
Por favor, ingrese su DNI: 36007849
Por favor, ingrese su Carrera en curso: Tecnicatura
Por favor, ingrese su Año de inicio de carrera: 2022

Muchas gracias por completar el formulario. Usted ingresó los siguientes datos:
Nombre: Agustin
Apellido: Leperini
Localidad: Carcarañá
Edad: 30
DNI: 36007849
Carrera en curso: Tecnicatura
Año de inicio de carrera: 2022
Por favor, ingrese su Nombre: Franco
Por favor, ingrese su Apellido: Leperini
Por favor, ingrese su Localidad: Carcarañá
Por favor, ingrese su Edad: 30
Por favor, ingrese su DNI: 36007848
Por favor, ingrese su Carrera en curso: Tecnicatura
Por favor, ingrese su Año de inicio de carrera: 2022

Muchas gracias por completar el formulario. Usted ingresó los siguientes datos:
Nombre: Franco
Apellido: Leperini
Localidad: Carcarañá
Edad: 30
DNI: 36007848
Carrera en curso: Tecnicatura
Año de inicio de carrera: 2022
Por favor, ingrese su Nombre: Martin
Por favor, ingrese su Apellido: Cavo
Por favor, ingrese su Localidad: Rosario
Por favor, ingrese su Edad: 31
Por favor, ingrese su DNI: 34593748
Por favor, ingrese su Carrera en curso: Tecnicatura
Por favor, ingrese su Año de inicio de carrera: 2021

Muchas gracias por completar el formulario. Usted ingresó los siguientes datos:
Nombre: Martin
Apellido: Cavo
Localidad: Rosario
Edad: 31
DNI: 34593748
Carrera en curso: Tecnicatura
Año de inicio de carrera: 2021
Por favor, ingrese su Nombre: Roberto
Por favor, ingrese su Apellido: Gomez
Por favor, ingrese su Localidad: Villa Constitución
Por favor, ingrese su Edad: 27
Por favor, ingrese su DNI: 38442157
Por favor, ingrese su Carrera en curso: Tecnicatura
Por favor, ingrese su Año de inicio de carrera: 2022

Muchas gracias por completar el formulario. Usted ingresó los siguientes datos:
Nombre: Roberto
Apellido: Gomez
Localidad: Villa Constitución
Edad: 27
DNI: 38442157
Carrera en curso: Tecnicatura
Año de inicio de carrera: 2022

In [ ]:
def database_lists(*lists:list) -> list:
  """
  Genera una lista compuesta por las listas ingresadas como argumentos.

  Parameters
  ----------
  *lists = non keyword lists
    Listas a incluir como elementos de una lista madre.
    e.g: datosPersonales1,datosPersonales2

  Returns
  -------
  database = list
    Lista con cada elemento como lista ingresadas como argumento.
  """

  database = []
  for argument in range(len(lists)):
    database.append(lists[argument])
  return database

In [ ]:
database = database_lists(datosPersonales1,datosPersonales2,datosPersonales3,datosPersonales4)
database

[['Agustin', 'Leperini', 'Carcarañá', 30, 36007849, 'Tecnicatura', 2022],
 ['Franco', 'Leperini', 'Carcarañá', 30, 36007848, 'Tecnicatura', 2022],
 ['Martin', 'Cavo', 'Rosario', 31, 34593748, 'Tecnicatura', 2021],
 ['Roberto', 'Gomez', 'Villa Constitución', 27, 38442157, 'Tecnicatura', 2022]]

In [ ]:
# entiendo por datos personales, todos los datos incluidos en 
# el formulario principal

def print_database(form:list,database:list):
  """
  Imprime en pantalla todos los datos de cada elemento de una 
  base de datos en base a un formulario.

  Parameters
  ----------
  form: list
    Lista con campos de datos a ingresar.

  database: list
    Lista con campos de datos ingresados.
  
  Returns
  -------
  Imprime en pantalla 
  """

  for student in range(len(database)):
    print(f'\nEstudiante #{student+1}: \n') 
    for field in range(len(form)):
      print(f'{form[field]}: {database[student][field]} ')

In [ ]:
print_database(form,database)

Estudiante #1:

Nombre: Agustin
Apellido: Leperini
Localidad: Carcarañá
Edad: 30
DNI: 36007849
Carrera en curso: Tecnicatura
Año de inicio de carrera: 2022

Estudiante #2:

Nombre: Franco
Apellido: Leperini
Localidad: Carcarañá
Edad: 30
DNI: 36007848
Carrera en curso: Tecnicatura
Año de inicio de carrera: 2022

Estudiante #3:

Nombre: Martin
Apellido: Cavo
Localidad: Rosario
Edad: 31
DNI: 34593748
Carrera en curso: Tecnicatura
Año de inicio de carrera: 2021

Estudiante #4:

Nombre: Roberto
Apellido: Gomez
Localidad: Villa Constitución
Edad: 27
DNI: 38442157
Carrera en curso: Tecnicatura
Año de inicio de carrera: 2022

#### Tuplas

5. Escribir una función donde pida las materias que cursa unx alumnx del TUIA, las almacene en una tupla y la devuelva.

In [ ]:
def student_subjects()->tuple:
  """
  Permite ingresar las materias como string de forma individual 
  hasta presionar la tecla enter. Luego, elimina los espacios adicionales
  del/los string/s ingresado/s y lo/s formatea capitalizandolo/s.

  Returns
  -------
  subjects = tuple
    Tupla con materias ingresadas. E.g: ('Entorno de programacion', 'Logica')
  """

  subjects = []
  print(
      f'Bienvenido! Por favor, ingrese las materias que se encuentra '
      'cursando de forma individual. En caso que desee finalizar, '
      'presione ENTER.'
      )
  while True:
    subject = input(f'Ingrese su materia nro.{len(subjects)+1}: ')
    if subject == "":
      print(f'\nGracias por ingresar sus materias de cursado. Le deseamos éxitos en su periodo lectivo.')
      break
    subjects.append(subject.strip().capitalize())
  return  tuple(subjects)

In [ ]:
subjects = student_subjects()
print(
    f"\nEl alumno cursa {len(subjects)} materias:\n{subjects}\n"
    f"Las mismas se encuentran almacenadas en una {type(subjects)}"
    )

Bienvenido! Por favor, ingrese las materias que se encuentra cursando de forma individual. En caso que desee finalizar, presione ENTER.
Ingrese su materia nro.1: Lógica
Ingrese su materia nro.2:            Programacion I
Ingrese su materia nro.3: ENTORNO DE PROGRAMACION
Ingrese su materia nro.4:

Gracias por ingresar sus materias de cursado. Le deseamos éxitos en su periodo lectivo.

El alumno cursa 3 materias:
('Lógica', 'Programacion i', 'Entorno de programacion')
Las mismas se encuentran almacenadas en una <class 'tuple'>

6. A partir del ejercicio anterior, generar 2 tuplas donde se guarden las materias del primer cuatrimestre y del segundo respectivamente. 
Crear una nueva función que le pida al alumnx las materias que cursa y que le informe si corresponde al primer o segundo cuatrimestre.

In [ ]:
four_month_1 = student_subjects()
four_month_2 = student_subjects()

Bienvenido! Por favor, ingrese las materias que se encuentra cursando de forma individual. En caso que desee finalizar, presione ENTER.
Ingrese su materia nro.1: Lógica
Ingrese su materia nro.2: Matemática
Ingrese su materia nro.3: Entorno de Programación
Ingrese su materia nro.4: Programación I
Ingrese su materia nro.5: Inglés Técnico
Ingrese su materia nro.6:

Gracias por ingresar sus materias de cursado. Le deseamos éxitos en su periodo lectivo.
Bienvenido! Por favor, ingrese las materias que se encuentra cursando de forma individual. En caso que desee finalizar, presione ENTER.
Ingrese su materia nro.1: Cálculo
Ingrese su materia nro.2: Programación II
Ingrese su materia nro.3: Introducción a Inteligencia Artificial
Ingrese su materia nro.4: Álgebra
Ingrese su materia nro.5: Práctica Social Educativa – Módulo Introductorio
Ingrese su materia nro.6:

Gracias por ingresar sus materias de cursado. Le deseamos éxitos en su periodo lectivo.

In [ ]:
four_month_1

('Lógica',
 'Matemática',
 'Entorno de programación',
 'Programación i',
 'Inglés técnico')

In [ ]:
four_month_2

('Cálculo',
 'Programación ii',
 'Introducción a inteligencia artificial',
 'Álgebra',
 'Práctica social educativa – módulo introductorio')

In [ ]:
def period_creation (period:str="cuatrimestre",*periods:tuple) -> dict:
  """
  Parameters
  ----------
  period = str
    Perido lectivo en cual se divide el ciclo. E.g: "Trimestre", "Cuatrimestre".
  *periods = tuple

  Returns
  ------
  Dictionary
  """
  # create dictionary with periods and list with student subjects
  subjects = {}
  for i in range(len(periods)):
    value = str(i+1)+"_"+str(period.capitalize()) #period name generation
    subjects[periods[i]] = value #assigned period name as value and tuple as key
  return subjects

In [ ]:
subjects = period_creation("cuatrimestre",four_month_1,four_month_2)

In [ ]:
subjects

{('Lógica',
  'Matemática',
  'Entorno de programación',
  'Programación i',
  'Inglés técnico'): '1_Cuatrimestre',
 ('Cálculo',
  'Programación ii',
  'Introducción a inteligencia artificial',
  'Álgebra',
  'Práctica social educativa – módulo introductorio'): '2_Cuatrimestre'}

In [ ]:
def check_subject_period (subjects:dict) -> str:
  """
  Parameters
  ----------
  Returns
  ------
  """
  print(
      f'Bienvenido al listado de materias de TUIA!'
      f'Podrás conocer a qué periodo lectivo pertenece las materias que cursas.'
      f'\nPara finalizar, presione la tecla ENTER.'
      )
  student_subjects = []
  while True:
    subject = input(f'Por, favor ingrese su materia #{len(student_subjects)+1}: ')
    if subject == "" and len(student_subjects) == 0:
      print(f'\nDebe ingresar al menos una materia para realizar su consulta.')
      continue
    elif subject == "" and len(student_subjects)> 0:
      print(f'\nGracias por ingresar sus materias de cursado. Le deseamos éxitos en su periodo lectivo.')
      break
    else:
        for subjects_tuple in subjects:
          if subject.capitalize() in subjects_tuple:
            student_subjects.append(subject)
            break
  for subject in student_subjects:
    for subjects_tuple in subjects:
      if subject in subjects_tuple:
        print(f'{subject} pertenece al {subjects[subjects_tuple]}')
        break

In [ ]:
check_subject_period(subjects)

Bienvenido al listado de materias de TUIA!Podrás conocer a qué periodo lectivo pertenece las materias que cursas.
Para finalizar, presione la tecla ENTER.
Por, favor ingrese su materia #1: Lógica
Por, favor ingrese su materia #2: Matemática
Por, favor ingrese su materia #3: Álgebra
Por, favor ingrese su materia #4: Cálculo
Por, favor ingrese su materia #5:

Gracias por ingresar sus materias de cursado. Le deseamos éxitos en su periodo lectivo.
Lógica pertenece al 1_Cuatrimestre
Matemática pertenece al 1_Cuatrimestre
Álgebra pertenece al 2_Cuatrimestre
Cálculo pertenece al 2_Cuatrimestre

#### Diccionarios

7. Crear un diccionario de la lista de precios de una verdulería.

In [ ]:
grocery_prices = {
    "Banana": 100,
    "Manzana": 80,
    "Cebolla": 50,
    "Pera": 110,
    "Zapallo": 120
}

8. A partir del diccionario anterior, imprimir en la pantalla el nombre de la fruta/verdura con su correspondiente precio.

In [ ]:
print(f'Lista de precios verduleria:\n')
for product,price in grocery_prices.items():
  print(f'{product}: ${price}')

Lista de precios verduleria:

Banana: $100
Manzana: $80
Cebolla: $50
Pera: $110
Zapallo: $120

9. Utilizando el diccionario anterior, pedirle al usuario que ingrese una fruta/verdura y que indique su precio. Si no hay en stock avisarle al cliente.

In [ ]:
# entiendo, segun el enunciado, que si el producto no tiene stock, no  
# debe encontrarse en el diccionario
def how_much(products:dict) -> float/None:
  """
  Segun una lista de precios ingresada como argumento, solicita al
  usuario el nombre de un producto y, si el mismo se encuentra
  dentro de la lista, imprime y devuelve su precio. De lo contrario,
  si no se encuentra, imprime un mensaje de no disponibilidad y
  devuelve None.

  Parameters
  ----------
  products = dict
    Diccionario con lista de precios de productos.

  Returns
  -------
  result = float/None
    Si el producto existe, devuelve el valor como float. De lo 
    contrario, devuelve Nonetype. 
  """

  product = input("Por favor, ingrese el producto que desea consultar: ")
  product = product.strip().capitalize()
  result = products.get(product)
  if result == None:
    print(f'El producto ingresado: {product} no se encuentra disponible.')
  else:
    print(f'El producto ingresado: {product} cuesta ${result}.')
  return result

In [ ]:
pomelo = how_much(grocery_prices)

Por favor, ingrese el producto que desea consultar:     POMELO
El producto ingresado: Pomelo no se encuentra disponible.

In [ ]:
print(pomelo)

None

In [ ]:
banana = how_much(grocery_prices)

Por favor, ingrese el producto que desea consultar:         banana
El producto ingresado: Banana cuesta $100.

In [ ]:
print(banana)

100


10. Escribir una primer función que pida el nombre y 3 notas de unx alumnx, devuelva el nombre y una lista con las notas. 
Llamar dicha función tantas veces como alumnos haya y crear un diccionario donde la clave sea el nombre del estudiante y el valor la lista de sus notas.
Por último, calcular el promedio de cada unx y mostrarlo en pantalla.

Por ejemplo para 
    
    alumnos = { " Juan " : [6 ,9 ,8] , " Manuel " : [9 ,10 ,9] , " Martin " : [5 ,6 ,7]}


Debería mostrar:
<dd>El promedio de Juan es 7.666666</dd>
<dd>El promedio de Manuel es 9.333333</dd>
<dd>El promedio de Martin es 6</dd>

1er parte: Funcion para pedir el nombre y 3 notas por alumno.

In [ ]:
def student_grades(quant_grades:int=3) -> str and list:
  """
  Solicita el nombre y 3 notas del 0 al 10 del alumno ingresado.
  Luego, devuelve el nombre como string y las notas en una lista.

  Parameters
  ----------
  quant_grades = int
    Cantidad de notas a ingresar por alumno. Valor por defecto: 3

  Returns
  -------
  student_name = str  -> primer salida
    Nombre del alumno ingresado.

  student_grades = list -> segunda salida
    Lista con cantidad de notas del alumno.
  """
  
  student_name = input("Por favor, ingrese el nombre del alumno: ")
  student_name = student_name.strip().capitalize()
  
  student_grades = []
  for i in range(quant_grades):
    while True:
      grade = input(f'Ingrese la #{i+1} nota: ')
      try:
        grade = int(grade)
      except:
        print(
            f'Usted ha ingresado "{grade}". Asegúrese de ingresar un valor ' 
            f'numérico entre el 0 y el 10.'
            )
        continue
      if grade<0 or grade>10:
        print(
          f'Usted ha ingresado "{grade}". Asegúrese de ingresar un valor ' 
          f'numérico entre el 0 y el 10.'
          )
        continue
      break
    student_grades.append(grade)
  
  return student_name, student_grades

In [ ]:
student_name_1 , student_grades_1 = student_grades()
student_name_2 , student_grades_2 = student_grades()
student_name_3 , student_grades_3 = student_grades()

Por favor, ingrese el nombre del alumno:      AGUSTIN
Ingrese la #1 nota: cinco
Usted ha ingresado "cinco". Asegúrese de ingresar un valor numérico entre el 0 y el 10.
Ingrese la #1 nota: 5
Ingrese la #2 nota: 8
Ingrese la #3 nota: 11
Usted ha ingresado "11". Asegúrese de ingresar un valor numérico entre el 0 y el 10.
Ingrese la #3 nota: 10
Por favor, ingrese el nombre del alumno: roberto
Ingrese la #1 nota: 10
Ingrese la #2 nota: 4
Ingrese la #3 nota: 8
Por favor, ingrese el nombre del alumno: Martin
Ingrese la #1 nota: 7
Ingrese la #2 nota: 6
Ingrese la #3 nota: 7

Comprobación de resultados de la función

In [ ]:
print(student_name_1)
print(student_grades_1)

Agustin
[5, 8, 10]

In [ ]:
print(student_name_2)
print(student_grades_2)

Roberto
[10, 4, 8]

In [ ]:
print(student_name_3)
print(student_grades_3)

Martin
[7, 6, 7]

2da parte: Funcion para crear un diccionario con todas las notas por nombre de alumnos.

In [ ]:
def database_dict (*names:str,**grades:list) -> dict:
  """
  Crea un diccionario donde la clave es el nombre del estudiante 
  y el valor la lista de sus notas.

  Paramters
  ---------
  *names = str
    Nombres de los alumnos. e.g: Agustin
  
  **grades = list
    Lista con nota del alumno. e.g: [5, 8, 10]

  Returns
  -------
  database = dict
    Diccionario donde la clave es el nombre del estudiante 
    y el valor la lista de sus notas.e.g: {'Agustin': [5, 8, 10]}
  """

  database = {}
  index = 0
  for name,grades in grades.items():
    name = names[index]
    database[name] = grades
    index += 1
  return database

In [ ]:
students_grades = database_dict(student_name_1,student_name_2,student_name_3,student_name_1=student_grades_1,student_name_2=student_grades_2,student_name_3=student_grades_3)
students_grades

{'Agustin': [5, 8, 10], 'Roberto': [10, 4, 8], 'Martin': [7, 6, 7]}

3ra parte: Funcion para calcular el promedio por alumno y mostrarlo.

In [ ]:
def grades_average (students_grades:dict) -> dict:
  """
  Calcula el promedio de los valores por cada clave del diccionario
  ingresado como argumento.

  Parameters
  ----------
  student_grades = dict
    Diccionario que contenga str como clave y una lista con valores numéricos.
  
  Returns
  -------
  average_dict = dict
    Diccionario que contiene la misma clave siendo su valor reemplazado
    por el promedio del listado de valores numéricos. 
  """

  average_dict = {}
  for name,grades in students_grades.items():
    average = round(sum(grades)/len(grades),2)
    average_dict[name] = average
    print(f'{name} posee una nota promedio de {average}')
  return average_dict

In [ ]:
students_average = grades_average(students_grades)

Agustin posee una nota promedio de 7.67
Roberto posee una nota promedio de 7.33
Martin posee una nota promedio de 6.67

In [ ]:
students_average

{'Agustin': 7.67, 'Roberto': 7.33, 'Martin': 6.67}

11. Cartas como diccionario.
<dl>
<dd>a. Proponer una representación con diccionarios para un mazo completo de cartas.</dd>
<dd>b. Escribir una función de poker que baraje cinco cartas de la baraja francesa e informe (devuelva
el valor lógico correspondiente) si esas cartas forman o no un poker (es decir que hay 4 cartas con
el mismo número).</dd>
</dl>

In [ ]:
def french_deck () -> dict:
  """
  Genera un mazo de barajas francesas donde la clave 
  corresponde a uno de los 4 simbolos diferentes, mientras que los valores
  de cada uno varian en el rango del 1 - 13, siendo 2-10 valores numericos y 
  los restantes 1(az),11(jota),12(rey). 

  Returns
  -------
  deck = dict
    Mazo de barajas representado como diccionario.
  """
  
  deck = {}
  suits = "trébol","diamantes","corazones","picas"
  values = []

  for suit in suits:
    deck[suit] = values
  for value in range(1,14):
    values.append(value)

  print(f'Felicidades! Ha creado su mazo de poker {len(deck)*len(deck["trébol"])} cartas. Espero lo disfrute!')
  return deck

In [ ]:
deck = french_deck()

Felicidades! Ha creado su mazo de poker 52 cartas. Espero lo disfrute!

In [ ]:
deck

{'trébol': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'diamantes': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'corazones': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'picas': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]}

In [ ]:
import random
import time
def random_deal_poker(deck:dict) -> bool and dict:
    """
    Elige cinco cartas de forma aleatoria de la baraja francesa ingresada 
    como argumento y retorna un booleano identificando si esas cartas forman 
    o no poker y el mazo de cartas restantes.

    Parameters
    ----------
    deck = dict
      Diccionario representando baraja de cartas francesa.

    Returns
    -------
    bool = True/False
      Dependiendo si forma o no poker.

    deck = dict
      Diccionario con mazo de cartas restantes.
    """
    
    suits = "trébol","diamantes","corazones","picas"
    values = []
    
    #Barajado y generacion de carta
    print("Bienvenido al generador de baraja de poker! Que tenga mucha suerte!")
    print("Barajando..")
    time.sleep(3)
    for card in range(5):
      time.sleep(2)
      while True: 
        suit = random.choice(suits)
        value = random.randint(1,13)
        if value in deck[suit]: #verificacion si la carta se encuentra en el mazo
          values.append(value)
          break
        else:
          continue #en caso que la carta no se encuentre, genera una nueva
      print(f'#{card+1} carta: {value} de {suit}')
      #remover la carta del mazo una vez barajada
      deck[suit] = list(set(deck[suit])-set([value]))
    
    #calculo de cartas restantes
    cards = 0
    for key,value in deck.items():
      cards += len(value)
     
    #verificacion de poker  
    for value in values:
      occurrences = values.count(value)
      if occurrences>=4:
        print('Felicitaciones! Ha conseguido poker!')
        print(f'\nEl mazo posee {cards} cartas restantes')
        return True , deck
      else:
        print(f'Lamentablemente no ha conseguido poker. Vuelva a intentarlo.')
        print(f'\nEl mazo posee {cards} cartas restantes')
        return False , deck

In [ ]:
poker,deck = random_deal_poker(deck)

Bienvenido al generador de baraja de poker! Que tenga mucha suerte!
Barajando..
#1 carta: 9 de trébol
#2 carta: 13 de corazones
#3 carta: 10 de diamantes
#4 carta: 12 de diamantes
#5 carta: 1 de picas
Lamentablemente no ha conseguido poker. Vuelva a intentarlo.

El mazo posee 47 cartas restantes

In [ ]:
poker

False

In [ ]:
deck

{'trébol': [1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13],
 'diamantes': [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13],
 'corazones': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
 'picas': [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]}

Curioso problema que me topé al tratar de remover las cartas barajadas del mazo original para que no se repitan.
Probé con los 3 métodos para eliminar un valor de una lista:


*   remove()
``
deck["trébol"].remove(4)
``
*   pop()
``
deck["trébol"].pop(deck["trébol"].index(2))
``
*  del 
``
del deck["trébol"][deck["trébol"].index(1)]
``

En todos los casos me eliminaba ese mismo valor en todos los listados, por lo que conseguir poker se hace imposible. Por ejemplo, si sacaba el 4 de trébol, el mazo quedaba sin 4 en su totalidad porque esos métodos me eliminaban adicionalmente el 4 de picas, corazones y diamantes.
Entonces, encontré la solución remplazando el valor de esa key por un nuevo listado, calculando el mismo como la diferencia entre su estado anterior menos el valor barajado con la estructura de los sets.

Ejemplo de problemática

In [ ]:
deck

{'trébol': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'diamantes': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'corazones': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'picas': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]}

In [ ]:
#4 de trebol
deck["trébol"].remove(4)
deck

{'trébol': [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'diamantes': [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'corazones': [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'picas': [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13]}

In [ ]:
#2 de trebol
deck["trébol"].pop(deck["trébol"].index(2))
deck

{'trébol': [1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'diamantes': [1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'corazones': [1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'picas': [1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13]}

In [ ]:
#Az de trébol
del deck["trébol"][deck["trébol"].index(1)]
deck

{'trébol': [3, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'diamantes': [3, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'corazones': [3, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'picas': [3, 5, 6, 7, 8, 9, 10, 11, 12, 13]}

Solución

In [ ]:
#3 de trebol
deck["trébol"] = list(set(deck["trébol"])-set([3]))
deck

{'trébol': [5, 6, 7, 8, 9, 10, 11, 12, 13],
 'diamantes': [3, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'corazones': [3, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 'picas': [3, 5, 6, 7, 8, 9, 10, 11, 12, 13]}

12. Escribe un programa que lea una cadena y devuelva un diccionario con la cantidad de apariciones de
cada palabra en la cadena. Por ejemplo:
 
![image.png]()

In [10]:
def words(phrase:str) -> dict:
  """
  Devuelve un diccionario con la cantidad de apariciones de cada palabra 
  en phrase. Las palabras son almacenadas en lowercase.

  Parameters
  ----------
  phrase: str
    Frase a evaluar. Ej: Me gustaría ver la cantidad de palabras de la frase.

  Returns
  -------
  words: dict
    Diccionario con cada palabra como key y su cantidad de repeticiones como
    value. Ej: {"me":1, "gustaría":1, "la":2}
  """
  words = {}
  for word in phrase.lower().split(" "):
    if word not in words:
      words[word] = 1
    else:
      words[word] = words[word] + 1   
  return words

In [12]:
count_words = words("Me gustaría ver la cantidad de palabras que me devuelve la frase ingresada.")
count_words

{'me': 2,
 'gustaría': 1,
 'ver': 1,
 'la': 2,
 'cantidad': 1,
 'de': 1,
 'palabras': 1,
 'que': 1,
 'devuelve': 1,
 'frase': 1,
 'ingresada.': 1}