---

# 3. Pandas

Pandas is the best known Python library for manipulating and analyzing data. It is built on top of NumPy, so many features are similar. We will use Pandas to work with structured datasets.

Just as NumPy provides us with arrays and with them we access many new features, Pandas provides us with DataFrames and Series. By far the most used object is the first one, DataFrames.

We are going to use the open data of the Argentine government, so you will have to download the csv from the following link: [Names 2010-2014](https://www.datos.gob.ar/dataset/otros-nombres-personas-fisicas)

In [ ]:
import pandas as pd

## Reading a csv file

In [ ]:
df_names = pd.read_csv("https://raw.githubusercontent.com/agusle/AnyoneAI_Training/main/nombres-2010-2014.csv")
df_names

                        nombre  cantidad  anio
0                     Benjamin      2986  2010
1                        Sofia      2252  2010
2                     Bautista      2176  2010
3                      Joaquín      2111  2010
4                 Juan Ignacio      2039  2010
...                        ...       ...   ...
871489            Leire Jasmin         1  2014
871490  Isaias Sebastian Ariel         1  2014
871491        Yanira Valentina         1  2014
871492            Angie Ainara         1  2014
871493          Elias Hernando         1  2014

[871494 rows x 3 columns]

## Columns renaming

First of all let's rename the columns to name, amount and year

In [ ]:
df_names = df_names.rename(columns={'nombre': 'name', 'cantidad': 'amount', 'anio': 'year'})
df_names

                          name  amount  year
0                     Benjamin    2986  2010
1                        Sofia    2252  2010
2                     Bautista    2176  2010
3                      Joaquín    2111  2010
4                 Juan Ignacio    2039  2010
...                        ...     ...   ...
871489            Leire Jasmin       1  2014
871490  Isaias Sebastian Ariel       1  2014
871491        Yanira Valentina       1  2014
871492            Angie Ainara       1  2014
871493          Elias Hernando       1  2014

[871494 rows x 3 columns]